<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ValidateAd</servlet-name>
        <servlet-class>Admin.ValidateAd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreP</servlet-name>
        <servlet-class>User.StoreP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaPa</servlet-name>
        <servlet-class>User.VaPa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>User.LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>Admin.CreateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraH</servlet-name>
        <servlet-class>TraH</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent1</servlet-name>
        <servlet-class>User.ViewEvent1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDao</servlet-name>
        <servlet-class>Admin.EventDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClubDao</servlet-name>
        <servlet-class>Admin.ClubDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDao</servlet-name>
        <servlet-class>UserDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent</servlet-name>
        <servlet-class>ViewEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterEvent</servlet-name>
        <servlet-class>User.RegisterEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventDAO</servlet-name>
        <servlet-class>Admin.EventDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>CreateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent2</servlet-name>
        <servlet-class>Admin.ViewEvent2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>Admin.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>Admin.DeleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEvent1</servlet-name>
        <servlet-class>Admin.DeleteEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvent3</servlet-name>
        <servlet-class>ViewEvent3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEvents</servlet-name>
        <servlet-class>Admin.ViewEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEvent</servlet-name>
        <servlet-class>Admin.UpdateEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateAd</servlet-name>
        <url-pattern>/ValidateAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreP</servlet-name>
        <url-pattern>/StoreP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaPa</servlet-name>
        <url-pattern>/VaPa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraH</servlet-name>
        <url-pattern>/TraH</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent1</servlet-name>
        <url-pattern>/ViewEvent1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDao</servlet-name>
        <url-pattern>/EventDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClubDao</servlet-name>
        <url-pattern>/ClubDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDao</servlet-name>
        <url-pattern>/UserDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent</servlet-name>
        <url-pattern>/ViewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEvent</servlet-name>
        <url-pattern>/RegisterEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventDAO</servlet-name>
        <url-pattern>/EventDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/CreateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent2</servlet-name>
        <url-pattern>/ViewEvent2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/DeleteEventServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/DeleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEvent1</servlet-name>
        <url-pattern>/DeleteEvent1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvent3</servlet-name>
        <url-pattern>/ViewEvent3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEvents</servlet-name>
        <url-pattern>/ViewEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEvent</servlet-name>
        <url-pattern>/UpdateEvent</url-pattern>
    </servlet-mapping>
</web-app>
